<div class="col s12 m7">
    <h4 class="header"><%= winery.name %></h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cick on More Information to find out about this winery</p>
        </div>
        <div class="card-action">
          <%= link_to "More Information", winery_path(winery) %>
        </div>
      </div>
    </div>
  </div>

